In [1]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\prash\anaconda3\lib\site-packages (8.0.28)
Collecting protobuf>=3.0.0
  Downloading protobuf-3.20.0-cp39-cp39-win_amd64.whl (904 kB)
Installing collected packages: protobuf
Successfully installed protobuf-3.20.0

In [8]:
import mysql.connector as mysql

In [9]:
mydb=mysql.connect (host='localhost',user='root',passwd='mysql')

In [10]:
mydb

In [11]:
cursor=mydb.cursor()

In [12]:
cursor.execute("show databases")

In [75]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('prashantfirstdatabase',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [62]:
#Create new data base 
cursor=mydb.cursor

In [73]:
cursor.execute("create database prashantfirstdatabase")

In [2]:
import mysql.connector as sql

In [4]:
sql=sql.connect(host='localhost',user='root',passwd='mysql')

In [5]:
sql

In [6]:
cursor=sql.cursor()

In [7]:
cursor.execute('show databases')

AttributeError: 'function' object has no attribute 'execute'

In [9]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('prashantfirstdatabase',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [11]:
import mysql.connector as sql

In [12]:
sql=sql.connect(host='localhost',user='root',passwd='mysql')

In [13]:
sql

In [14]:
cursor.execute('show databases')

In [15]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('prashantfirstdatabase',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [16]:
import mysql.connector as sql

In [17]:
sql=sql.connect(host='localhost',user='root',passwd='mysql')

In [18]:
sql

In [19]:
cursor.execute('show databases')

In [20]:
cursor.fetchall()

[('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('prashantfirstdatabase',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [21]:
cursor=sql.cursor()

In [22]:
cursor.execute('create database expancess_monthly')

In [23]:
cursor.execute('show databases')

In [25]:
cursor.fetchall()

[('expancess_monthly',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('prashantfirstdatabase',),
 ('sakila',),
 ('sys',),
 ('world',)]

In [26]:
cursor.execute('create table expancess_monthly.april(slno INT(10),Description VARCHAR(30),Amount INT(20),Target INT(20))' )

In [27]:
cursor.execute('use expancess_monthly')

In [28]:
cursor.execute('show tables')

In [29]:
cursor.fetchall()

[('april',)]

In [1]:
import mysql.connector as mysql

In [2]:
mysql=mysql.connect(host='localhost',user='root',passwd='mysql')

In [3]:
mysql

In [4]:
cursor=mysql.cursor